<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- this is head tag -->
    <%- include("../Dash-Compo/headTag.ejs") %>
    <!-- end head tag -->
  </head>
  <body>
    <!-- ======= Header ======= -->
    <%- include("../Dash-Compo/header.ejs") %>
    <!-- End Header -->

    <!-- ========= side bar =========== -->
    <%- include("../Dash-Compo/sideBar.ejs") %>
    <!-- end sidebar -->

    <!-- ========= Working section ========== -->
    <%- include("../Dash-Compo/workSection.ejs") %>
    <!-- end workSection -->

    <!-- ============== footer  ============== -->
    <%- include("../Dash-Compo/footer.ejs") %>
    <!-- end footer -->

    <!-- ============= footer scripts =========== -->
    <%- include("../Dash-Compo/footerScript.ejs") %>
    <!-- end footer scripts -->
  </body>
</html>
