<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ===== Head tag ======= -->
    <!-- This contains many css jquery bootstrap files -->
    <%- include("../Components/headTag.ejs") %>
    <!-- ===== End Head tag ======= -->
  </head>
  <body>
    <!-- ======= Header ======= -->
    <!-- This basically contains the bar navigator at the top.. -->
    <%- include("../Components/header.ejs") %>
    <!-- End Header -->

    <br /><br /><br />
    <br />
    <%- include("../Components/salesPageForm.ejs") %>
    <!-- ======= Footer ======= -->
    <!-- Contiains all the footer elements and components -->
    <%- include('../Components/footer.ejs') %>
    <!-- End Footer -->

    <!-- Footer scripts -->
    <!-- Contains all js and more for website -->
    <%- include("../Components/footerScripts.ejs") %>
    <!-- End Footer scripts  -->
  </body>
</html>
