<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../Components/headTag.ejs") %>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <!-- This basically contains the bar navigator at the top.. -->
    <%- include("../Components/header.ejs") %>
    <!-- End Header -->
    <br /><br /><br />
    <br />
    <%- include("../Components/sellerRegistrationForm.ejs") %>
    <!-- ======= Footer ======= -->
    <!-- Contiains all the footer elements and components -->
    <%- include('../Components/footer.ejs') %>
    <!-- End Footer -->

    <!-- Footer scripts -->
    <!-- Contains all js and more for website -->
    <%- include("../Components/footerScripts.ejs") %>
    <!-- End Footer scripts  -->
  </body>
</html>
